<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./vue.js"></script>
  <title>Document</title>
</head>

<body>
  <div id="app">
    {{name}} ------- {{age}} ------ {{message.sex}}
    <div>
      <div> message：<input v-model="message.sex" /></div>
      <div> age：<input v-model="age" /></div>
      <div> name：<input v-model="name" /></div>
    </div>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        name: 'zss',
        age: 29,
        message:{
          sex:"男"
        }
      }
    })
  </script>
</body>

</html>